modules = ["nodejs-24", "javascript", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "AfuChat Mobile"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "AfuChat Admin"

[[workflows.workflow]]
name = "AfuChat Mobile"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=18115 pnpm --filter @workspace/mobile run dev"
waitForPort = 18115

[[workflows.workflow]]
name = "AfuChat Admin"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3000 pnpm --filter @workspace/admin run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["javascript_database:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXPO_PUBLIC_SUPABASE_URL = "https://rhnsjqqtdzlkvqazfcbg.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJobnNqcXF0ZHpsa3ZxYXpmY2JnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE2NzA4NjksImV4cCI6MjA3NzI0Njg2OX0.j8zuszO1K6Apjn-jRiVUyZeqe3Re424xyOho9qDl_oY"
SUPABASE_ACCESS_TOKEN = "sbp_bea5e3cfe380883ad2b5a941c9f53017fb8613bf"
PESAPAL_CONSUMER_KEY = "445f81c24150755deb2b0d76c12285c61fde6150e07c78f497a333d262d8e600"
PESAPAL_CONSUMER_SECRET = "74a5e05a34f0c809c19395737dc8627de9af9fdadeba089091f93fed2f43e444"
PESAPAL_ENV = "sandbox"
EXPO_TOKEN = "2dNrVQpwy_kQXJGzxiWIPywNHEVhQjNUK3MScdBR"
EXPO_PUBLIC_EAS_PROJECT_ID = "89fcac26-c3be-4941-af21-2c3743616316"

[nix]
channel = "stable-25_05"
